html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing__page {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 2.5rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100px; /* Adjust as needed */
  z-index: 1;
}

.arrow__container {
   position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100px;
  width: 100px; /* Match or wrap image size */
  z-index: 2;
}

.left__arrow {
  left: 0;
  width: 202px;
  height: 302px;
}

.right__arrow {
  right: 0;
  width: 202px;
  height: 302px;

}

.center__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
}

